@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 14px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }
h3 { font-size: 20px !important; }
p { margin: 1em 0; }

a         { color: #00a; text-decoration: none !important;}
a:hover   { color: #000; }
/*a:visited { color: #a0a; }*/

table {
  font-size: inherit;
  font: 100%;
}
.clear{clear: both;}
/*****************************************************************************/
/*
/* Common Layout
/*
/*****************************************************************************/
/* Top Menu */
@media screen and (max-width: 658px) {
  .navbar { display: none; }
}
@media screen and (min-width: 1000px) {
  .navbar .container{width: 940px !important;}
}
.navbar-inner{
  border-radius: 0px !important;
}
ul.nav li:first-child a{font-size: 17px;padding-left:0px;font-family: 'Permanent Marker', cursive;}
ul.nav li:not(:first-child) a{font-size: 15px;font-weight: normal;}
/* Footer */
table.contact td{text-align: left; padding: 8px 3px;font-size: 16px;}
table.contact tr:hover td, table.contact tr:hover td a{color: #ECF0F1;}
table.contact td:first-child i{font-size: 35px;padding-right:10px;}
footer address{text-align: left;}
footer{
  color: #95A5A6 !important;
  font-size: 115% !important;
  line-height: 1.5em !important;
}
footer p{font-size: 100% !important;line-height: 1.5em !important;}
footer .footer-banner{min-height:400px;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.home h1{
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: 'Permanent Marker', cursive;
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
.tile{
  padding: 13px !important;
}
h2{
  margin-top: 80px !important;
  margin-bottom: 40px !important;
}
.prestations .btn, footer .btn{margin-top:20px; margin-bottom: 20px;}
.prestations ul{margin-top:10px;}
.prestations ul li{margin-bottom:10px;}
.prestations ul li .icons{margin-right:5px;}
.todo-head {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 12px 25px 12px;
}
.todo-head{margin-top:45px;color: #ffffff;}
.todo-head .title{float: left;}
.todo-head i{float: right;font-size: 25px;padding-top: 10px;}
.todo-year{
  float: left;
  padding: 2px 22px 0 0;
}
.competences .todo{
  background-color: #ECF0F1;
}
.competences .todo li{
  background-color: #ECF0F1;
  padding-right: 60px;
  color: #1ABC9C;
}
.competences .todo li.todo-done, .competences .todo li{
  background-position: 95% center;
}
.competences .todo-name{
  color: #95A5A6;
}
.competences .todo-content{ font-size: 0.9em; }
.competences .tagsinput .tag:hover{
  padding: 6px 13px 8px 19px;
}
.competences .tagsinput{
  height: auto;
}
.references td:first-child{padding-top: 12px;}
.references td .tagsinput{
  border: none;height:auto;margin:auto;background-color: transparent;
}
.references td i.icon-external-link{
  margin-left: 5px;
}
.references .open-source{margin-bottom:5px;display:block;font-size: 14px;}

@media screen and (max-width: 768px) {
  .footer-banner {
    padding-left: 0px !important;
  }
  footer .text-block {
    padding: 6px;
  }
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
