---
layout: default
title: Adrien Rambert - développeur ruby et javascript freelance - ruby on rails - backbone.js
h1: Développeur Ruby et Javascript freelance
class: home
---

<div id="home">

	<div class="row">

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Pensils@2x.png" alt="Pensils@2x" class="tile-image">
        <h3 class="tile-title">Pour votre projet</h3>
        <p>A votre écoute pour mieux vous conseiller et pour le succès de votre projet.</p>
        <a class="btn btn-primary btn-large btn-block" href="#prestations">Mes prestations</a>
      </div>
    </div>

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Compas@2x.png" alt="Compas@2x" class="tile-image big-illustration">
        <h3 class="tile-title">Un ingénieur</h3>
        <p>Directeur technique, architecte logiciel, développeur.</p>
        <a class="btn btn-primary btn-large btn-block" href="#competences">Mes compétences</a>
      </div>
    </div>

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Infinity-Loop@2x.png" alt="Infinity-Loop@2x" class="tile-image">
        <h3 class="tile-title">Expérimenté</h3>
        <p>Développeur depuis 15 ans, auteur d'application complexes.</p>
        <a class="btn btn-primary btn-large btn-block" href="#references">Mes références</a>
      </div>
    </div>

  </div>

  {% include prestations.html %}
	{% include competences.html %}
	{% include references.html %}

</div>