---
layout: default
title: CTO lead dev ruby on rails, javascript & python
description: Adrien Rambert est un ingénieur, directeur technique, architecte et développeur ruby, frontend js et python.
h1: Directeur technique CTO + lead dev freelance ruby et javascript
class: home
---

<div id="home">

	<div class="row">

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Compas@2x.png" alt="Compas@2x" class="tile-image big-illustration">
        <h3 class="tile-title">Un ingénieur</h3>
        <p>CTO, Directeur technique, architecte logiciel, développeur web fullstack, créateur d'entreprise.</p>
        <a class="btn btn-primary btn-large btn-block" href="#competences">Mes compétences</a>
      </div>
    </div>

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Infinity-Loop@2x.png" alt="Infinity-Loop@2x" class="tile-image">
        <h3 class="tile-title">Expérimenté</h3>
        <p> 15 ans d'experience dans la tech, auteur d'applications complexes, passionné par la data et l'optimisation.</p>
        <a class="btn btn-primary btn-large btn-block" href="#references">Mes références</a>
      </div>
    </div>

    <div class="span4">
      <div class="tile">
        <img src="images/icons/Gift-Box@2x.png" alt="Gift-Box@2x" class="tile-image">
        <h3 class="tile-title">Pour votre projet</h3>
        <p>Direction technique, création de produit et d'équipe, Audit et optimisation de performance, nouvelles fonctionnalités, audit technique...</p>
        <a class="btn btn-primary btn-large btn-block" href="#prestations">Mes prestations</a>
      </div>
    </div>
  </div>

	{% include prestations.html %}
	{% include competences.html %}
	{% include references.html %}

</div>
