<h2 id="competences">Compétences</h2>
<div class="competences row">

  <div class="span5">
    <h3>Languages</h3>
    <div class='tagsinput'>
      <span class='tag'>Ruby</span>
      <span class='tag'>Typescript</span>
      <span class='tag'>Javascript</span>
      <span class='tag'>Python</span>
      <span class='tag'>+</span>
    </div>
    <h3>Frameworks et CMS</h3>
    <div class='tagsinput'>
      <span class='tag'>Ruby on Rails</span>
      <span class='tag'>Vue.js</span>
      <span class='tag'>Angular.js</span>
      <span class='tag'>Backbone.js</span>
      <span class='tag'>QT</span>
      <span class='tag'>+</span>
    </div>
    <h3>Bases de données</h3>
    <div class='tagsinput'>
      <span class='tag'>PostgreSQL</span>
      <span class='tag'>Redis</span>
      <span class='tag'>MongoDB</span>
      <span class='tag'>DuckDB</span>
      <span class='tag'>+</span>
    </div>
    <h3>Gestion de projet</h3>
    <div class='tagsinput'>
      <span class='tag'>Agile</span>
      <span class='tag'>Scrum</span>
      <span class='tag'>Lean</span>
      <span class='tag'>+</span>
    </div>
  </div>
  <div class="span1"></div>
	<div class="span6">
    <div class="todo mrm">
      <div class="todo-head">
        <div class='title'><h3>Parcours</h3></div>
        <i class='icon-magic'></i>
        <div class='clear'></div>
      </div>
      <ul>
	<li class="todo-done">
          <div class="todo-year">2024<br/>...</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Co-fondateur & CTO CPO de <strong><a href='#'>Dipper</a></strong>
            </h4>
            Logiciel de modélisation 3D de gisement pour les géologues miniers (logiciel windows et MacOs avec QT)
          </div>
    </li>	
	<li class="todo-done">
          <div class="todo-year">2020<br/>2024</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Co-fondateur & CTO CPO de <strong><a href='https://kamatz.com/'>Kamatz</a></strong>
            </h4>
            Plateforme de mise en relation freelances-entreprise puis pivot vers agence de recrutement et gestion de freelances pour les entreprises.
          </div>
        </li>	
	<li class="todo-done">
          <div class="todo-year">2018<br/>2022</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Fondateur & Président de <strong><a href='https://silex.pro/fr/'>Silex</a></strong>
            </h4>
            Logiciel de gestion d'entreprise et facturation en ligne pour les indépendants et les freelances.
          </div>
        </li>
	<li class="todo-done">
          <div class="todo-year">2018<br/>2015</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Directeur technique de <strong><a href='http://argomento.fr'>argomento</a></strong>
            </h4>
            Applications interactives pour consulter, engager et mobiliser les groupes.
          </div>
        </li>
	<li class="todo-done">
          <div class="todo-year">2017<br/>2013</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Gérant-fondateur de <strong><a href='https://www.notre-logement.fr'>notre-logement.fr</a></strong>
            </h4>
            Outil en ligne de carnet numérique et de suivi de la consommation d'énergie des logements
          </div>
        </li>
        <li class="todo-done">
          <div class="todo-year">2015<br/>2013</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Développeur indépendant freelance pour le web
            </h4>
            Spécialisé dans les technologies ruby et javascript
          </div>
        </li>
        <li class="todo-done">
          <div class="todo-year">2013<br/>2010</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Directeur technique de <strong>optimeez</strong>
            </h4>
            Outil en ligne de webmarketing 
          </div>
        </li>

        <li class="todo-done">
          <div class="todo-year">2010<br/>2007</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Responsable du pole innovation <strong>Lagardère</strong>
            </h4>
            Equipe de conseil interne pour les projets innovants
          </div>
        </li>

        <li class="todo-done">
          <div class="todo-year">2007<br/>2003</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Ecole <strong>Polytechnique</strong>
            </h4>
            Spécialisation en gestion de l'innovation
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>
