<h2 id="competences">Compétences</h2>
<div class="competences row">

  <div class="span5">
    <h3>Languages</h3>
    <div class='tagsinput'>
      <span class='tag'>Ruby</span>
      <span class='tag'>Javascript</span>
      <span class='tag'>PHP</span>
      <span class='tag'>HTML</span>
      <span class='tag'>CSS</span>
      <span class='tag'>+</span>
    </div>
    <h3>Frameworks et CMS</h3>
    <div class='tagsinput'>
      <span class='tag'>Ruby on Rails</span>
      <span class='tag'>Angular.js</span>
      <span class='tag'>Backbone.js</span>
      <span class='tag'>jQuery</span>
      <span class='tag'>Spree</span>
      <span class='tag'>Wordpress</span>
      <span class='tag'>Drupal</span>
      <span class='tag'>+</span>
    </div>
    <h3>Bases de données</h3>
    <div class='tagsinput'>
      <span class='tag'>PostgreSQL</span>
      <span class='tag'>Redis</span>
      <span class='tag'>MongoDB</span>
      <span class='tag'>+</span>
    </div>
    <h3>Gestion de projet</h3>
    <div class='tagsinput'>
      <span class='tag'>Agile</span>
      <span class='tag'>Scrum</span>
      <span class='tag'>Lean</span>
      <span class='tag'>+</span>
    </div>
  </div>
  <div class="span1"></div>
	<div class="span6">
    <div class="todo mrm">
      <div class="todo-head">
        <div class='title'><h3>Parcours</h3></div>
        <i class='icon-magic'></i>
        <div class='clear'></div>
      </div>
      <ul>
	<li class="todo-done">
          <div class="todo-year">2017<br/>2015</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Directeur technique de <strong><a href='http://argomento.fr'>argomento</a></strong>
            </h4>
            Applications interactives pour consulter, engager et mobiliser les groupes.
          </div>
        </li>
	<li class="todo-done">
          <div class="todo-year">2017<br/>2013</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Gérant-fondateur de <strong><a href='http://notre-conso.fr'>notre-conso.fr</a></strong>
            </h4>
            Outil en ligne de suivi de la consommation d'énergie des logements
          </div>
        </li>
        <li class="todo-done">
          <div class="todo-year">2015<br/>2013</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Développeur indépendant pour le web
            </h4>
            Spécialisé dans les technologies ruby et javascript
          </div>
        </li>
        <li class="todo-done">
          <div class="todo-year">2013<br/>2010</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Directeur technique de <strong><a href='http://optimeez.com'>optimeez.com</a></strong>
            </h4>
            Outil en ligne de webmarketing 
          </div>
        </li>

        <li class="todo-done">
          <div class="todo-year">2010<br/>2007</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Responsable du pole innovation <strong>Lagardère</strong>
            </h4>
            Equipe de conseil interne pour les projets innovants
          </div>
        </li>

        <li class="todo-done">
          <div class="todo-year">2007<br/>2003</div>
          <div class="todo-content">
            <h4 class="todo-name">
              Ecole <strong>Polytechnique</strong>
            </h4>
            Spécialisation en gestion de l'innovation
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>
