<a id='contact'></a>
<footer>
  <div class="container">
    <div class="row">

      <div class="span7 text-left">
        <h3 class="footer-title">A propos</h3>
        <p>Je suis ingénieur, spécialisé en architecture et développement d'applications web.</p>
        <p>J'ai développé une forte expertise dans les technologies web, le webmarketing et la gestion de projet agile me permettant d'apporter la solution la plus adaptée aux problématiques rencontrées.</p>
        <p>J'aime le travail d'équipe et les projets stimulants.</p>
      </div>

      <div class="span5">
        <div class="footer-banner">
          <h3 class="footer-title">Contactez-moi</h3>
          <table class="contact">
            <tr><td><i class='icon-envelope'></i></td><td><a class='email' href="mailto:adrien__at__rambert.me" target="_top">adrien__at__rambert.me</a></td></tr>
            <tr><td><i class='icon-github'></i></td><td><a href='https://github.com/arambert'>github.com/arambert</a></td></tr>
            <tr><td><i class='icon-twitter'></i></td><td><a href='https://twitter.com/adrienrambert'>@adrienrambert</a></td></tr>
            <tr><td><i class='icon-skype'></i></td><td>adrien-rambert</td></tr>
            <tr>
              <td style='vertical-align:top;'><i class='icon-home'></i></td>
              <td>
                <address>
                  <strong>Adrien Rambert</strong><br/>
                  28, avenue de l'Europe<br/>
                  92300 Levallois Perret
                </address>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class='clear'></div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('a').each(function(){if($(this).attr('href')!==undefined){$(this).attr('href', $(this).attr('href').replace('__at__', '@'))}});
      $('a').each(function(){$(this).html($(this).html().replace('__at__', '@'))});
    })
  </script>
</footer>
