<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
		  <ul class="nav">
			  <li><a href="/">&nbsp;Adrien Rambert</a></li>
			  <li class='{% if page.url == "/prestations.html" %}active{%endif%}'><a href="#prestations">Prestations</a></li>
			  <li class='{% if page.url == "/competences.html" %}active{%endif%}'><a href="#competences">Compétences</a></li>
			  <li class='{% if page.url == "/references.html" %}active{%endif%}'><a href="#references">Références</a></li>
			  <li class='{% if page.url == "/contact.html" %}active{%endif%}'><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</div>