<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
		  <ul class="nav">
			  <li><a href="/">&nbsp;&nbsp;&nbsp;Adrien Rambert</a></li>
			  <li class='{% if page.url == "/competences.html" %}active{%endif%}'><a href="#competences">Compétences</a></li>
			  <li class='{% if page.url == "/realisations.html" %}active{%endif%}'><a href="#realisations">Réalisations</a></li>
			  <li class='{% if page.url == "/contact.html" %}active{%endif%}'><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</div>