<h2 id="prestations">Prestations</h2>
<div class="prestations" class="row">
	<div class="span6">
    <p>
      Vous souhaitez :
      <ul class='text-left unstyled'>
        <li><span class="icons"><span class="second-icon fui-checkbox-unchecked"></span></span>Monter un projet internet</li>
        <li><span class="icons"><span class="second-icon fui-checkbox-unchecked"></span></span>Créer votre site web</li>
        <li><span class="icons"><span class="second-icon fui-checkbox-unchecked"></span></span>Ajouter un module à votre application en ligne</li>
        <li><span class="icons"><span class="second-icon fui-checkbox-unchecked"></span></span>Simplement échanger au sujet de votre projet</li>
      </ul>
    </p>
    <a href="mailto:adrien__at__rambert.me" class="btn btn-warning">Rencontrons-nous !</a>
  </div>
  <div class="span6">
    <p>
      Vous choisissez :
      <ul class='text-left unstyled'>
        <li class=""><span class="icons"><span class="second-icon fui-checkbox-checked"></span></span> Un travail de qualité</li>
        <li class=""><span class="icons"><span class="second-icon fui-checkbox-checked"></span></span> Une gestion de projet s'appuyant sur des methodes agiles</li>
        <li class=""><span class="icons"><span class="second-icon fui-checkbox-checked"></span></span> Des livrables fréquents</li>
        <li class=""><span class="icons"><span class="second-icon fui-checkbox-checked"></span></span> Une relation de travail basée sur l'échange régulier et efficace</li>
      </ul>
    </p>
    <a href="mailto:adrien__at__rambert.me" class="btn btn-info">Contactez-moi !</a>
  </div> 
  <div class='clear'></div>
</div>
