<h2 id="realisations">Réalisations</h2>
<div class="realisations row">

  <div class="span12">
    <table class="table table-striped table-hover">
      <tbody>
      <tr>
        <td>2013<br/>2010</td>
        <td>
          <h4><a href='http://fr.optimeez.com'>Optimeez <i class='icon-external-link'></i></a></h4>
          Outil en ligne de webmarketing multicanal (SEO, SMO, Pub, ...).<br/>
          Tableaux de bords 100% customisables en drag & drop.<br/>
          Connexions oAuth aux API de Google Analytics, Twitter, Facebook, Bing Ads, Adwords...
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span><span class='tag'>Ruby on Rails</span><span class='tag'>Mysql</span><span class='tag'>MongoDB</span><span class='tag'>Javascript</span><span class='tag'>Backbone.js</span><span class='tag'>Redis</span></div></td>
      </tr>
      <tr>
        <td>2013</td>
        <td>
          <h4><a href='http://www.plomberie.fr'>Plomberie.fr <i class='icon-external-link'></i></a></h4>
          Missions de développement pour le site français leader dans la distribution de produit de plomberie.
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span><span class='tag'>Ruby on Rails</span><span class='tag'>Mysql</span><span class='tag'>Javascript</span><span class='tag'>Redis</span></div></td>
      </tr>
      <tr>
        <td>2013</td>
        <td>
          <h4><a href='http://www.diverseo.com'>Diverseo <i class='icon-external-link'></i></a></h4>
          Missions d'audit et de conseil concernant leur logiciel d'analyse des biais implicites.
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span><span class='tag'>Mysql</span><span class='tag'>Javascript</span></div></td>
      </tr>
      <tr>
        <td>2012</td>
        <td>
          <h4><a href='http://github.com/weboglobin/bing_ads_api'>gem Bing Ads API <i class='icon-external-link'></i></a> </h4>
          <i class='icon-gift open-source'> Open Source</i>
          Interface de communication en Ruby avec l'API de <a href='https://secure.bingads.microsoft.com/'>Bing Ads</a>
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span><span class='tag'>SOAP</span></td>
      </tr>
      <tr>
        <td>2012</td>
        <td>
          <h4><a href='http://asso-aff.org/'>AFF <i class='icon-external-link'></i></a> </h4>
          Site de l'Association Française des Fiduciaires
        </td>
        <td><div class='tagsinput'><span class='tag'>PHP</span><span class='tag'>MySQL</span><span class='tag'>Drupal</span></td>
      </tr>
      <tr>
        <td>2011</td>
        <td>
          <h4><a href='http://github.com/weboglobin/semrush'>gem SemRush <i class='icon-external-link'></i></a> </h4>
          <i class='icon-gift open-source'> Open Source</i>
          Interface de communication en Ruby avec l'API de <a href='http://www.semrush.com/'>SemRush</a>
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span></td>
      </tr>
      <tr>
        <td>2010</td>
        <td>
          <h4><a href='http://github.com/arambert/Paybox-Direct-Plus'>gem Paybox Direct Plus <i class='icon-external-link'></i></a> </h4>
          <i class='icon-gift open-source'> Open Source</i>
          Interface de communication en Ruby avec le système de paiement Paybox Direct Plus.
        </td>
        <td><div class='tagsinput'><span class='tag'>Ruby</span></td>
      </tr>
      <tr>
        <td>2009</td>
        <td>
          <h4><a href='http://www.lagardere.com'>Le comptoir <i class='icon-external-link'></i></a></h4>
          Plateforme de microblogging pour le groupe Lagardère
        </td>
        <td><div class='tagsinput'><span class='tag'>PHP</span><span class='tag'>Mysql</span></div></td>
      </tr>
      <tr>
        <td>2009</td>
        <td>
          <h4><a href='http://www.lagardere.com'>WebTools <i class='icon-external-link'></i></a></h4>
          Outil interne de suivi de la performance SEO pour le groupe Lagardère
        </td>
        <td><div class='tagsinput'><span class='tag'>PHP</span><span class='tag'>Mysql</span></div></td>
      </tr>
      <tr>
        <td>2008</td>
        <td>
          <h4><a href='http://www.lagardere.com'>Geek de musique <i class='icon-external-link'></i></a></h4>
          Blog de musique
        </td>
        <td><div class='tagsinput'><span class='tag'>PHP</span><span class='tag'>Wordpress</span><span class='tag'>Mysql</span></div></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>